{% extends 'ArcanaBugtrackerBundle::list.html.twig' %}

{% block heading %}STATUSES{% endblock %}

{% block add_new %}
	<a href="{{ url('statuses_add') }}">Add new status</a>
{% endblock %}

{% block item_title %}
	<a href="{{ url('statuses_edit', {'id': item.id}) }}">{{ item.title}}</a>
{% endblock %}
